.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 960px;
  margin: 0 auto;
}

.nav h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.nav__list {
  font-size: 22px;
}

@media (max-width: 999px) {

  .nav {
    width: 85vw;
    min-width: 270px;
  }

  .nav__list {
    font-size: 20px;
    min-width: 150px;
  }

  .nav__list li {
    margin-right: 5px;
  }
}

.nav__list li {
  margin-right: 5px;
}

.nav-wrapper {
  background-color: rgb(48, 82, 94);
  width: 100%;
}

.nav__list {
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-weight: bold;
}

.nav__list li:hover{
  color: rgb(166, 255, 255)
}