.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .nav {
    width: 100%;
    justify-content: space-around;
  }
  .nav__list {
    font-size: 12px;
  }

  .nav__list li {
    margin-right: 5px;
  }
}

.nav-wrapper {
  background-color: rgb(48, 82, 94);
  width: 100%;
}

.nav__list {
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-weight: bold;
}

.nav__list li:hover{
  color: rgb(166, 255, 255)
}