.items-container {
  width: 46%;
  overflow: visible;
}

.items-container__list {
  list-style: none;
  padding: 10px;
  height: 70vh;
  overflow: auto;
  border-radius: 3px;
  overflow-y: scroll;
  overflow-x: visible;
}

.items-container__item {
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 3px;
  transition: .2s;
}

.items-container__item:not(:last-child) {
  margin-bottom: 8px;
}

.items-container__item:hover {
  transform: scaleX(1.03) scaleY(1.1);
  box-shadow: 0px 0px 24px 10px rgba(0,0,0,0.32);
}

.items-container__item:active {
  transform: scale(1);
}

@media (max-width: 999px) {
  .items-container {
    min-width: 130px;
  }

  .items-container__item {
    font-size: 24px;
    padding: 0 9px;
  }
}